absl-py==0.8.0
astor==0.8.0
bleach==3.1.0
boto3==1.9.218
botocore==1.12.218
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.4
docutils==0.15.2
gast==0.2.2
google-pasta==0.1.7
gpt-2-simple==0.6
grpcio==1.23.0
h5py==2.9.0
idna==2.8
jmespath==0.9.4
Keras==2.2.5
Keras-Applications==1.0.8
keras-embed-sim==0.7.0
keras-layer-normalization==0.13.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.30.0
Markdown==3.1.1
nose==1.3.7
numpy==1.17.1
pkginfo==1.5.0.1
protobuf==3.9.1
pycodestyle==2.5.0
Pygments==2.7.4
python-dateutil==2.8.0
pytorch-pretrained-bert==0.6.2
PyYAML==5.1.2
readme-renderer==24.0
regex==2019.8.19
requests==2.22.0
requests-toolbelt==0.9.1
s3transfer==0.2.1
scipy==1.3.1
six==1.12.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
toposort==1.5
torch==1.2.0
tqdm==4.35.0
twine==1.13.0
urllib3==1.25.3
webencodings==0.5.1
Werkzeug==0.15.5
wrapt==1.11.2
